<!DOCTYPE html>
<head>
</head>
<body>

    <div
     style="background-color: rgba(111, 197, 212, 0.178); margin-top: px;">
    
     <h2 style="background-color: rgb(111, 197, 212); text-align: center;">To Sell</h2>
    </div>

    

    <p> Welcome {{user}}</p>

    <h3>Books You Are Selling:</h3>
    <div style="background-color: rgba(111, 197, 212, 0.178);">



    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Condition</th>
            <th>Isbn</th>
            <th>Genre</th>

        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>{{ book[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>