<!DOCTYPE html>
<head>
</head>
<body>
    <div
     style="background-color: rgba(111, 197, 212, 0.178); ">

   
    <form method="POST" action="{{ url_for('home2') }}" style="display: inline-block; margin-right: 80px;">
        <input type="text" id="book" name="Browse" style="display: inline;">
        <input type="submit" name="action" value="Browse" style="display: inline;">

    </form>

    
    <form method="POST" action="{{ url_for('home2') }}" style="display: inline-block; margin-left: 20px;">
        <input type="hidden" name="sort_direction" value="{{ 'desc' if current_sort == 'asc' else 'asc' }}">
        <button type="submit" name="action" value="sort_price">
            Sort by Price
        </button>
    </form>


 <!--
    <form method="POST" action="{{ url_for('home2') }}" style ="display: inline-block;">
        <input type="search" id="book_search" name="action" />
        <button type="submit">Search Book</button>
    </form>
-->



    
    <form method="POST" style="display: inline; " >
    <button type="submit" name="action" value = sell_book style="display: inline-block;" >Sell a Book</button>
    </form>

    <form method="POST" style="display: inline; " >
        <button type="submit" name="action" value = logout >Logout</button>
    </form>
    <form method="POST" style="display: inline; margin-left: 880px">
        <button type="submit" name="action" value = delete_account >Delete Your Account</button>
    </form>


    <h2 style="background-color: rgb(111, 197, 212); text-align: center;">Homepage</h2>
    </div>

    <!--Added in by Sophia: 
        - Changed search_book to Browse
        - Added instructions
        - Sort by price button
        -->
    <!-- <h1 style = "text-align: center;">Welcome!</h1> -->
    <p style = "text-align: center;">To begin searching for a book, enter the title or its first few letters into the search bar.</p>
    <p style = "text-align: center;">To display all books, simply click 'enter' in the search bar.</p>

    <p> Welcome {{user}}</p>
   


    <h3>Books from Database</h3>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Isbn</th>
            <th>Genre</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <script>
		function clearInputField() {
			document.getElementById('myForm').reset();
		}
	</script>
</body>

</html>
